# protein info
MOLINFO STRUCTURE=chig.pdb

# whole molecule for all the backbone atoms
WHOLEMOLECULES RESIDUES=all MOLTYPE=protein

dih-000-01: TORSION ATOMS=1,5,22,24
dih-001-00: TORSION ATOMS=22,24,26,43
dih-001-01: TORSION ATOMS=24,26,43,45
dih-002-00: TORSION ATOMS=43,45,47,55
dih-002-01: TORSION ATOMS=45,47,55,57
dih-003-00: TORSION ATOMS=55,57,61,69
dih-003-01: TORSION ATOMS=57,61,69,71
dih-004-00: TORSION ATOMS=69,71,73,84
dih-004-01: TORSION ATOMS=71,73,84,86
dih-005-00: TORSION ATOMS=84,86,88,98
dih-005-01: TORSION ATOMS=86,88,98,100
dih-006-00: TORSION ATOMS=98,100,102,105
dih-006-01: TORSION ATOMS=100,102,105,107
dih-007-00: TORSION ATOMS=105,107,109,119
dih-007-01: TORSION ATOMS=107,109,119,121
dih-008-00: TORSION ATOMS=119,121,123,143
dih-008-01: TORSION ATOMS=121,123,143,145
dih-009-00: TORSION ATOMS=143,145,147,164

# CA-radius of gyration
rg: GYRATION ATOMS=5,26,47,61,73,88,102,109,123,147

# number of backbone hydrogen bonds
COORDINATION ...
# 10 backbone oxygen atoms
GROUPA=23,44,56,70,85,99,106,120,144,165
# 8 backbone hydrogen atoms
GROUPB=25,46,72,87,101,108,122,146
# parameters
NN=8 MM=12 R_0=0.25 NLIST NL_CUTOFF=0.8 NL_STRIDE=5 LABEL=hb
... COORDINATION

# number of hydrophobic contacts
COORDINATION ...
GROUPA=5,26,61,123,147
# parameters
NN=8 MM=12 R_0=0.6 LABEL=hc
... COORDINATION

# dihedral correlation
DIHCOR ...
ATOMS1=@phi-2,@psi-2
ATOMS2=@psi-2,@phi-3
ATOMS3=@phi-3,@psi-3
ATOMS4=@psi-3,@phi-4
ATOMS5=@phi-4,@psi-4
ATOMS6=@psi-4,@phi-5
ATOMS7=@phi-5,@psi-5
ATOMS8=@psi-5,@phi-6
ATOMS9=@phi-6,@psi-6
ATOMS10=@psi-6,@phi-7
ATOMS11=@phi-7,@psi-7
ATOMS12=@psi-7,@phi-8
ATOMS13=@phi-8,@psi-8
ATOMS14=@psi-8,@phi-9
ATOMS15=@phi-9,@psi-9
LABEL=cor
... DIHCOR

# printout
res-dih-000-01: RESTRAINT ARG=dih-000-01   KAPPA=500 AT=0.0
res-dih-001-00: RESTRAINT ARG=dih-001-00   KAPPA=500 AT=0.0
res-dih-001-01: RESTRAINT ARG=dih-001-01   KAPPA=500 AT=0.0
res-dih-002-00: RESTRAINT ARG=dih-002-00   KAPPA=500 AT=0.0
res-dih-002-01: RESTRAINT ARG=dih-002-01   KAPPA=500 AT=0.0
res-dih-003-00: RESTRAINT ARG=dih-003-00   KAPPA=500 AT=0.0
res-dih-003-01: RESTRAINT ARG=dih-003-01   KAPPA=500 AT=0.0
res-dih-004-00: RESTRAINT ARG=dih-004-00   KAPPA=500 AT=0.0
res-dih-004-01: RESTRAINT ARG=dih-004-01   KAPPA=500 AT=0.0
res-dih-005-00: RESTRAINT ARG=dih-005-00   KAPPA=500 AT=0.0
res-dih-005-01: RESTRAINT ARG=dih-005-01   KAPPA=500 AT=0.0
res-dih-006-00: RESTRAINT ARG=dih-006-00   KAPPA=500 AT=0.0
res-dih-006-01: RESTRAINT ARG=dih-006-01   KAPPA=500 AT=0.0
res-dih-007-00: RESTRAINT ARG=dih-007-00   KAPPA=500 AT=0.0
res-dih-007-01: RESTRAINT ARG=dih-007-01   KAPPA=500 AT=0.0
res-dih-008-00: RESTRAINT ARG=dih-008-00   KAPPA=500 AT=0.0
res-dih-008-01: RESTRAINT ARG=dih-008-01   KAPPA=500 AT=0.0
res-dih-009-00: RESTRAINT ARG=dih-009-00   KAPPA=500 AT=0.0
res-rg: RESTRAINT ARG=rg         KAPPA=50 AT=0
res-hb: RESTRAINT ARG=hb         KAPPA=100 AT=0
res-hc: RESTRAINT ARG=hc         KAPPA=50 AT=0
res-cor: RESTRAINT ARG=cor       KAPPA=500 AT=0

PRINT STRIDE=5 ARG=dih-000-01,dih-001-00,dih-001-01,dih-002-00,dih-002-01,dih-003-00,dih-003-01,dih-004-00,dih-004-01,dih-005-00,dih-005-01,dih-006-00,dih-006-01,dih-007-00,dih-007-01,dih-008-00,dih-008-01,dih-009-00,rg,hb,hc,cor FILE=plm.res.out
